<%= form_with model: form do |form| %>
  <form>
    <div class="mb-3">
      <label  class="form-label">Name</label>
      <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class="mb-3">
      <label  class="form-label">Description</label>
      <%= form.text_area :description, class:"form-control" %>
    </div>
    <div class="mb-3">
      <label  class="form-label">Author</label>
      <%= form.text_field :author, class:"form-control" %>
    </div>
    <div class="mb-3">
      <label  class="form-label">Price</label>
      <%= form.number_field :price, class:"form-control" %>
    </div>
    <div class="mb-3">
      <%= form.check_box :available %>
      <label class="form-check-label" >
        Available
      </label>
    </div>
    <div>
      <%= form.submit class:"btn btn-primary" %>
    </div>
  </form>
<% end %>