<br>
<h1>Books List</h1>
<%= link_to "Create New Book", new_book_path, class:'btn btn-primary mb-1' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Book</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <th scope="row">
          <%= book.name %>
        </th>
        <td class="d-flex justify-content-between align-items-center">
          <%= link_to "Show", book, class: 'btn btn-info' %>
          <%= link_to "Edit", edit_book_path(book), class: 'btn btn-secondary' %>
          <%= button_to "Delete",book,method: :delete ,class:"btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Back to Home", root_path ,class:"btn btn-dark" %>
