<%= link_to "Back to Home", root_path  %> <br>
<%= link_to "Create New", books_new_path  %> <br>
<h1>Books List</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Book</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <th scope="row">
          <%= book.name %>
        </th>
        <td>
          <%= link_to "Show", book  %>
          <%= link_to "Edit" %>
          <%= link_to "Delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
